@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 15px 250px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.links {
  display: flex;
  gap: 24px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  padding: 15px 250px;
  font-size: 18px;
  color: #e5e7eb;
}

.container.content-1 {
  display: flex;
  padding: 15px 250px;
  background-color: #1f2937;
  color: #e5e7eb;
  gap: 20px;
  flex: 1;
}

.intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image {
  background-color: rgba(240, 248, 255, 0.3);
  padding: 30px;
  flex: 1;
  text-align: center;
}

.image.img-text {
  color: white;
}

.intro-header {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
  color: #f9faf8;
}

.but-1 {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 8px 30px;
  border: none;
  border-radius: 8px;
}

.container.content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 250px;
  flex: 1;
}

.mini-container {
  display: flex;
  gap: 20px;
}

.img-txt {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex: 0 0 auto;
  height: 150px;
  width: 150px;
}

.icon {
  border: 3px solid #3882f6;
  height: 150px;
  width: 150px;
  border-radius: 8px;
}
